parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - src/Shell/Task/TwigTemplateTask.php
    ignoreErrors:
        -
            message: "#^Constant CACHE not found\\.$#"
            count: 1
            path: src/View/TwigView.php
