<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" convertDeprecationsToExceptions="true" colors="true">
    <testsuites>
        <testsuite name="twig-view">
            <directory>tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>
</phpunit>
